<h2>About Page</h2>
<img src="img/picture.png" >

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at purus ut velit placerat egestas ut a nibh. Pellentesque pulvinar, justo quis consequat vestibulum, sapien nisi bibendum est, et molestie leo tellus vitae erat. Maecenas sed bibendum enim. Cras in libero quis eros sollicitudin commodo ac et leo. Suspendisse venenatis metus a vestibulum gravida. Pellentesque fringilla augue vel eros fringilla, eu porta nulla lobortis. Sed porta ligula ut lacus accumsan, nec facilisis neque egestas. </p>
